.progress-item-container {
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-nav-list {
  display: flex;
  flex-wrap: wrap;
}
.progress-nav-list .progress-item-label[status="complete"],
.progress-nav-list .progress-item-label[status="active"] {
  background: #00447c;
  color: white;
}
span.progress-nav-inner-triangle[status="inactive"] {
  background: #f5f5f5;
}
.progress-nav-outer-triangle[status="active"],
.progress-nav-outer-triangle[status="complete"] {
  border-left-color: #00447c;
}

span.progress-nav-inner-triangle {
  transition: 0.7s background;
  position: absolute;
  left: 0px;
  border-left: 26px solid white;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  order: 0;
}

span.progress-nav-outer-triangle {
  transition: 0.7s border-left-color;
  border-left: 26px solid #f5f5f5;
  border-top: 30px solid transparent;
  order: 2;
  border-bottom: 30px solid transparent;
}
span.progress-nav-inner-triangle[status="inactive"] {
  background: transparent;
}
.progress-nav-list .progress-item-label {
  background: #f5f5f5;
  cursor: pointer;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 50px;
  order: 1;
  transition: 0.7s background;
}
.progress-item-container:first-child .progress-nav-inner-triangle,
.progress-item-container:last-child .progress-nav-outer-triangle {
  display: none;
}

.progress-item-container:hover .progress-item-label {
  background: #51a126;
  color: white;progressAPI
}
.progress-item-container:hover .progress-nav-outer-triangle {
  border-left-color: #51a126;
}
.progress-nav-list .progress-item-container:first-child .progress-item-label {
  padding-left: 20px;
}

@media screen and (max-width: 1100px) {
  .progress-nav-list .progress-item-label {
    background: #f5f5f5;
    cursor: pointer;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 35px;
    order: 1;
  }
  span.progress-nav-outer-triangle {
    border-left: 14px solid #f5f5f5;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
  }
  span.progress-nav-inner-triangle {
    border-left: 14px solid white;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
  }
}

@media screen and (max-width: 800px) {
  .progress-nav-list {
    font-size: 1.1em;
  }
  .progress-nav-list .progress-item-container:first-child .progress-item-label {
    padding-left: 5px;
  }
  .progress-nav-inner-triangle {
    display: none;
  }
  .progress-nav-list .progress-item-label {
    background: none;
    padding: 5px;
    margin: 5px 10px;
  }
  .progress-nav-list .progress-item-label[status="complete"],
  .progress-nav-list .progress-item-label[status="active"] {
    background: none;
    color: #00447c;
    font-weight: bold;
  }
  .progress-item-container:hover .progress-item-label {
    background: #51a126;
    color: white;
  }
  span.progress-nav-outer-triangle {
    border: 0px;
    border-right: 3px solid #51a126;
    border-bottom: 3px solid #51a126;
    transform: rotate(-45deg);
    height: 10px;
    width: 10px;
  }
  .progress-nav-list .progress-item-label {
    margin-right: 2px;
    margin-left: 8px;
  }
}
@media screen and (max-width: 676px) {
  .progress-nav-list {
    flex-direction: column;
    font-size: 1.2em;
  }
  .progress-item-container {
    justify-content: flex-start;
  }
  span.progress-nav-outer-triangle {
    border: 0px;
  }
}
