/* You can add global styles to this file, and also import other style files */
html{
    background: white;
}
body .root{
    width: 90%;
    margin: auto;
    padding-top: 10px;
    height: 100vh;
}