.topProdItem{
    display: flex;
    flex-wrap: wrap;
    background: #f4f6f6;
    border-radius: 10px;
    margin: 40px;
    padding: 10px;
}
.title{
    width: 100%;
    order: 0;
    color: #555555;
    font-size: 20px;
    font-weight: bold;
}
.detail{
    margin-top: 20px;
    display: flex;
    order: 1;
    width: 100%;
}
img{
    width: 200px;
    border-radius: 10px;
}
.desc-section {
    white-space: pre-line;
    padding: 20px;
    padding-top: 0px;
    text-align: justify;
}
.view-more {
    text-align: end;
    padding-right: 10px;
    font-size: 13px;
    cursor: pointer;
    color: #2567c0;
}