.logotopC img{
    width: 120px;
}
.logobottomC img {
    height: 35px;
}
.topbar{
    margin: 30px;
}
ul.navUl {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: #555555;
    font-size: 16px;
}
li{
    flex-basis: 20%;
}
li.hovered span {
    padding-bottom: 5px;
    border-bottom: 6px solid rgb(55, 154, 153);
    cursor: default;
}