.dot-link {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}
.dot-link.active-slide{
    background-color: #717171;
}
.carousal-container {
    padding: 20px;
    text-align: justify;
    color: #555555;
    border: 1px solid #eaeaea;
    height: 260px;
    position: relative;
}
.carousal-links {
    text-align: center;
    top:90%;
    width: calc(100% - 40px);
    padding-bottom: 0px;
    position: absolute;
}
