<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Welcome to Angular Rxjs Application</h1>
        <p class="lead">Hi there</p>
        <hr class="my-2">
        <p>Lets have some fun <i class="fa fa-unsorted" aria-hidden="true"></i></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">View All</a>
        </p>
    </div>
</div><ngb-alert type="primary" [dismissible]="true">This is a special Alert !!</ngb-alert>