<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Welcome to Angular Rxjs Application</h2>
        <p class="lead">This is blog review site demo</p>
        <hr class="my-2">
        <p>Check out the blogs below and rate them</p>
        <button class="btn btn-success" (click)="enterCreateMode()">Create Blog</button>
    </div>
</div>
<div *ngIf="createMode===true"  class="addSection">
    <app-blog-add></app-blog-add>
</div>
<app-blog-list></app-blog-list>