<nav class="navbar navbar-dark bg-info text-light">
    <div class="container">
        <div class="display-4">Welcome to Angular Blog Application Demo</div>
        <div class="lead">You may review the blogs, add new blogs, edit existing blogs, add comments to existing blogs</div>
    </div>
    <button class="btn btn-primary" (click)="getSampleData()">Get Sample Data from Server</button>
    <div>{{sampleResponse}}</div>
</nav>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand"> Blog App links</span>
        <ul class="navbar-nav flexRow mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="blogList" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"  class="nav-link">All Blogs</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="newBlog" routerLinkActive="active" class="nav-link">New Blog</a>
            </li>
        </ul>
</nav>

<div class="content">
    <router-outlet></router-outlet>
</div>
