.addSection{
    padding:15px;
}
.flexRow {
    flex-direction: row;
}
.nav-item {
    padding: 0px 10px;
}
li.active.nav-item a {
    color: #46bfff;
    text-decoration: underline;
}
.content {
    margin: 10px;
}