<div class="" style="margin-top:30px;">
  <ul class="nav colnav  nav-pills">
    <li class="nav nav-item" routerLinkActive="'active bg-info text-white'" *ngFor="let item of catalogData"><a routerLinkActive="text-white" class="nav nav-link" [routerLink]="['/catalog',item.id]"> {{item.name}} </a> </li>
  </ul>
</div>
<div class="row" style="padding-top: 40px;">
  <div class="col-xl-6 itemCard card bg-light rounded" style="padding: 20px;">
    <router-outlet></router-outlet>
  </div>
  <div class="col-xl-1"></div>
  <div class="col-xl-5 itemCard card bg-light rounded" style="padding: 20px;">
    <router-outlet name="edit"></router-outlet>
  </div>
</div>