<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <span class="title">{{blog.title}}</span>
            <span class='editbutton' style="display: block; float: right;" (click)="editBlog($event)">&nbsp;
                <i class="fa fa-edit" title="Edit blog - {{blog.title}}"></i>
            </span>&nbsp;
            <span class="author" style="display: block; float: right;">Author: {{blog.author}}</span>

        </ng-template>
        <ng-template ngbPanelContent>
            <div *ngIf="editMode===false">
                <div class="content">
                    {{blog.content}}
                </div>
                <div class="rating">
                    <span>
                        <i [ngbTooltip]="toolTip" (click)='vote("thumbsUp")' class=" fa fa-thumbs-up"></i> &nbsp; {{blog.thumbsUp}}
                    </span>&nbsp;&nbsp;
                    <span>
                        <i [ngbTooltip]="toolTip" class=" fa fa-thumbs-down" (click)='vote("thumbsDown")'></i> &nbsp; {{blog.thumbsDown}}
                    </span>
                </div>
            </div>
            <div *ngIf="editMode===true">
                <app-blog-edit [blog]='blog'></app-blog-edit>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>