<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <span class="title">{{blog.title}}</span> 
            <span class="author" style="display: block; float: right;">Author: {{blog.author}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <div>
                {{blog.content}}
            </div>
            <div class="rating">
                <span>
                    <i [ngbTooltip]="toolTip" (click)='vote("thumbsUp")' class=" fa fa-thumbs-up"></i> &nbsp; {{blog.thumbsUp}}
                </span>&nbsp;&nbsp;
                <span>
                    <i [ngbTooltip]="toolTip" class=" fa fa-thumbs-down" (click)='vote("thumbsDown")'></i> &nbsp; {{blog.thumbsDown}}
                </span>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>